@import '../../styles/variables.scss';

.create-dao-button {
  background-color: $secondary-color;
  color: white;
  padding: 15px 150px;
  margin-top: 20px;
  border: none;
  border-radius: 5px; /* 增加圆角 */
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; /* 让文本全部大写 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加按钮阴影 */
  transition: all 0.3s ease; /* 添加过渡效果 */
  background-image: linear-gradient(135deg, $secondary-color 0%, darken($secondary-color, 10%) 100%); /* 渐变背景 */

  &:hover {
    background-image: linear-gradient(135deg, lighten($secondary-color, 10%) 0%, $secondary-color 100%); /* 悬停时背景变亮 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 悬停时阴影加深 */
    transform: translateY(-2px); /* 悬停时按钮稍微上移 */
  }

  &:active {
    transform: translateY(0); /* 点击时回到原位置 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 点击时阴影恢复 */
  }
}

.submit-container {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.input-title {
  margin: 20px 0;
}