@use '@/assets/styles';
@use '@gear-js/ui/variables' as *;

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

main {
  flex: 1;
  padding: 0px 0 0px;
  position: relative; // for loaders
}

body {
  background: #282828 url(assets/images/bg.svg);
}
